* {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  box-sizing: border-box;
}


body {
  background-color: #DAF7DC;
  padding: 70px;
}

main {
  display: flex;
  flex-direction: column;
}

.title {
  width: 100%;
  height: 100px;
  text-align: center;
  background-color: #9EE493;
}


.my-portfolio {
  text-align: center;
  font-size: 3em;
  font-weight: bolder;
  padding: 10px
}

.name {
  height: 50px;
  font-size: 2em;
  text-align: center;
  background-color: #86BBD8;
  padding-top: 10px
}

.about-me {
  text-align: left;
  font-size: 30px;
  padding: 15px
}

.applications {
  text-align: left;
  font-size: 30px;
  padding: 15px; 
}

section.self {}


.links {
  margin: auto;
  text-align: center;
  display: inline;
  padding: 15px;
}

ul li {

  display: inline;
  padding: 10px;
}


.self {
  display: block;
  border: 2px solid green;
  max-width: 25%;
  max-height: 25%;
}

.filler {
  font-size: 26px;
  background-color: #86BBD8;
  padding: 10px;
}


.apps {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

div p {
  background-color: #336699;
  padding: 25px;
  color: white;
}

.main-img {
  border: 5px solid black;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: hidden;
}

.central-image {
  width: 100%;
  object-fit: cover;
}

.main-img:hover {
  border-color: #9EE493;
}

.first-app {
  text-align: center;
  font-size: 2rem;
}

#proj2,
#proj3,
#proj4,
#proj5 {
  padding: 10px;
  max-width: 25%;
}

#proj2:hover {
  padding: 0px;
}

#proj3:hover {
  padding: 0px;
}

#proj4:hover {
  padding: 0px;
}

#proj5:hover {
  padding: 0px;
}


/* Media Queries */

/* come back to fix this */

/* @media screen and (max-width :992px) {
  .apps {
    width: 50%;
  }
}

@media screen and (max-width :756px) {
  .apps {
    width: 50%;
  }
} */