/* color palette
#20BF55
#0B4F6C
#01BAEF
#FBFBFF
#757575
*/

/* Elements */

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

header {
  width: 100%;
  height: 100px;
  border-width: 2px;
  border-color: black;
  text-align: center;
  background-color: darkmagenta;
}

main {
  background-color: grey;

}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  background-color: chartreuse;
}

h3 {
  text-align: center;
}

/* Classes */

.links {
  margin: auto;
  text-align: center;
  display: inline;
  padding: 15px;
  border: 2px solid green;
}

.self {
  display: inline;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid green;
  max-width: 25%;
  max-height: 25%;
}

.filler {
  font-size: 18px;
  background-color: brown;
  padding: 10px;
}

.appMain {
  display: flex;
  border: 5px solid black;
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 20px
}

.appSub {
  margin-left: auto;
  margin-right: auto;
}

/* IDs */

#aboutme {
  background-color: gold;
  padding: 25px;
}

#mywork {}